/*PHONE*/
#root{
  min-height: 100vh;
  position: relative;
}
@media screen and (max-width: 480px) {
  *{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    font-family: 'Comfortaa';
    font-style: normal;
    border: 0;
    outline: 0;
  }
  .main--landing{
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section{
    display: flex;
    flex-direction: column;
    max-width: min(1408px, 100%);
    width: 100%;
    margin-bottom: 25px;
  }
  .flex{
    display: flex;
  }
  .flex--column{
    flex-direction: column;
  }
  .flex--center{
    justify-items: center;
    align-items: center;
  }
  
  .m--25{
    margin: 25px;
  }
  .p-0 {
    padding: 0px;
  }


  .dropdown {
    display: none;
  }

  .dp-flex.flex-row.menu-nav-div {
    display: none;
  }

  .dp-flex {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }

  .flex-col {
    flex-direction: column;
  }

  .button-more-doctor {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 15px;
    position: absolute;
    width: 72px;
    height: 40px;
    left: 253px;
    top: 10px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-shelter {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 15px;
    position: absolute;
    width: 72px;
    height: 40px;
    left: 253px;
    top: 10px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-boarding {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .doctor-contact-desk {
    display: none;
  }

  .fa-solid.fa-chevron-right.button-more-icon {
    display: none;
  }

  .mobile-slider-menu {
    display: none;
  }


  .button-more- {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 15px;
    position: absolute;
    width: 72px;
    height: 40px;
    left: 253px;
    top: 10px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .boarding-desk {
    display: none;
  }

  .button-more-text {
    width: 42px;
    height: 18px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2B2A29;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .boarding-locations-frame-desk {
    display: none;
  }

  .boarding-frame-content {
    display: none;
  }

  .big-animal-card {
    display: none;
  }

  .doctor-desk {
    display: none;
  }

  .-zindex-1 {
    z-index: -1;
  }

  .animal-search-button {
    display: none;
  }

  .tags {
    display: none;
  }

}

/*DESKTOP*/
@media screen and (min-width: 480px) {
  body {
      padding: 0;
      background: #FFFAFA;
      font-family: 'Comfortaa';
      font-style: normal;
      border: 0;
      outline: 0;
  }

  .p-0 {
    padding: 0px;
  }

  .dp-flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }



  .fa-solid.fa-bars.nav-bar-icon {
    display: none;
  }

  .fa-solid.fa-user.nav-user-icon {
    display: none;
  }



  .hero-button {
    align-items: center;
    padding: 0px 15px;
    gap: 15px;
    position: absolute;
    width: 116px;
    height: 50px;
    left: 150px;
    top: 730px;
    background: #f0d4b1;
    border-radius: 25px;
    font-weight: 700;
    font-size: medium;
  }

  .hero-button-text {
    width: 86px;
    height: 18px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2B2A29;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .mobile-slider-menu {
    position: absolute;
    width: 86px;
    height: 12px;
    left: 917px;
    top: 1028px;
  }

  .animals {
    display: none;
  }

  .dropdown-2 {
    box-sizing: border-box;
    align-items: center;
    padding: 0px 15px;
    gap: 100px;
    position: absolute;
    width: 274px;
    height: 50px;
    left: 0px;
    top: 0px;
    border: 2px solid #2B2A29;
    border-radius: 15px;
  }

  .dropdown-1 {
    box-sizing: border-box;
    align-items: center;
    padding: 0px 15px;
    gap: 100px;
    position: absolute;
    width: 274px;
    height: 50px;
    left: 299px;
    top: 0px;
    border: 2px solid #2B2A29;
    border-radius: 15px;
  }

  .animal-search-button {
    align-items: center;
    padding: 0px 15px;
    gap: 15px;

    position: absolute;
    width: 225px;
    height: 50px;
    left: 1049px;
    top: 0px;
    background: #F2DDC1;
    border-radius: 25px;
  }

  .search-button-text {
    width: 144px;
    height: 18px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2B2A29;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title {
    position: absolute;
    width: 146px;
    height: 29px;
    left: 0px;
    top: 0px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #2B2A29;
  }

  .button-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;

    position: relative;
    width: 56px;
    height: 50px;
    left: 1623px;
    top: 1472px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-text {
    display: none;
  }

  .button-more-icon {
    position: absolute;
    left: 37.49%;
    right: 35.07%;
    top: 36.73%;
    bottom: 26.74%;
  }

  .mobile-slider-1 {
    display: none;
  }

  .mobile-slider-2 {
    display: none;
  }

  .mobile-slider-3 {
    display: none;
  }

  .-zindex-1 {
    z-index: -1;
  }

  .menu-button {
    align-items: center;
    padding: 0px 15px;
    gap: 15px;
    position: absolute;
    width: 125px;
    height: 50px;
    left: 203px;
    top: 742px;
    background: #F2DDC1;
    border-radius: 25px;
  }

  .menu-button-text {
    width: 86px;
    height: 18px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2B2A29;
    flex: none;
    order: 1;
    flex-grow: 0;
  }


  .dropdown {
    align-items: center;
    padding: 0px 15px;
    gap: 100px;

    position: absolute;
    width: 274px;
    height: 50px;
    left: 299px;
    top: 0px;
    border: 2px solid #2B2A29;
    border-radius: 15px;
  }

  .dropdown-text {
    width: 108px;
    height: 37px;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2B2A29;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .dropdown-icon.fa-solid.fa-caret-down {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 36.11%;
    bottom: 35.41%;
  }

  .flex-dropdown {
    justify-content: space-between;
  }

  .button-more-animals {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
    position: absolute;
    width: 56px;
    height: 50px;
    left: 1335px;
    top: 360px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-boarding {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;

    position: absolute;
    width: 56px;
    height: 50px;
    left: 1335px;
    top: 220px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-doctor {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
    position: absolute;
    width: 56px;
    height: 50px;
    left: 1335px;
    top: 200px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .button-more-shelter {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
    position: absolute;
    width: 56px;
    height: 50px;
    left: 1335px;
    top: 200px;
    background: #FFFAFA;
    border: 2px solid #2B2A29;
    border-radius: 25px;
  }

  .boarding-frame {
    display: none;
  }

  .doctor {
    display: none;
  }

  .boarding {
    display: none;
  }

  .hero {
    display: none;
  }

  .doctor-contact {
    display: none;
  }

  .tags {
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    width: fit-content;
    height: 30px;
    border: 1.5px solid #2B2A29;
    border-radius: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tags-text {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #2B2A29;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}