@media screen and (max-width: 480px) {
  .fa-solid.fa-paw.paw-1 {
    position: absolute;
    left: 103.16%;
    right: -46.98%;
    top: 90.04%;
    bottom: -1.11%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-0.11deg);

  }

  .-zindex-1 {
    z-index: -1;
  }

  .fa-solid.fa-paw.paw-2 {
    position: absolute;
    left: 19.71%;
    right: -79.61%;
    top: 75.09%;
    bottom: 14.84%;
    color: #E2C2B9;
    transform: rotate(-2.62deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-3 {
    position: absolute;
    left: 88.08%;
    right: -26.26%;
    top: 64.73%;
    bottom: 25.63%;
    color: #E2C2B9;
    transform: rotate(-16.41deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-4 {

    position: absolute;
    left: 19.16%;
    right: -45.29%;
    top: 49.78%;
    bottom: 41.1%;
    color: #E2C2B9;
    transform: rotate(-24.42deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-5 {
    position: absolute;
    left: 19.16%;
    right: -45.29%;
    top: 49.78%;
    bottom: 41.1%;
    color: #E2C2B9;
    transform: rotate(-24.42deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-6 {
    position: absolute;
    left: 62.07%;
    right: 4.21%;
    top: 39.68%;
    bottom: 51.8%;
    color: #E2C2B9;
    transform: rotate(-14.19deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-7 {
    position: absolute;
    left: 70.76%;
    right: -1.1%;
    top: 25.92%;
    bottom: 66.42%;
    color: #E2C2B9;
    transform: rotate(-29.09deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-8 {
    position: absolute;
    left: 27.19%;
    right: 46%;
    top: 17.74%;
    bottom: 75.49%;
    color: #E2C2B9;
    transform: rotate(-17.73deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-9 {
    position: absolute;
    left: 29.02%;
    right: 49.81%;
    top: 7.27%;
    bottom: 87.39%;

    color: #E2C2B9;
    transform: rotate(-36.62deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-10 {
    position: absolute;
    left: 47.51%;
    right: 8.66%;
    top: 49.57%;
    bottom: 39.37%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(73.03deg);
  }

  .fa-solid.fa-paw.paw-11 {
    position: absolute;
    left: 13.44%;
    right: -53.34%;
    top: 54.28%;
    bottom: 35.65%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(70.51deg);
  }

  .fa-solid.fa-paw.paw-12 {
    position: absolute;
    left: 16.76%;
    right: -74.94%;
    top: 38.49%;
    bottom: 51.87%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(56.73deg);
  }

  .fa-solid.fa-paw.paw-13 {
    position: absolute;
    left: 198.19%;
    right: -134.32%;
    top: 39.37%;
    bottom: 51.5%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(48.71deg);
  }

  .fa-solid.fa-paw.paw-14 {
    position: absolute;
    left: 21.88%;
    right: -155.6%;
    top: 24.79%;
    bottom: 66.7%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(58.95deg);
  }

  .fa-solid.fa-paw.paw-15 {
    position: absolute;
    left: 25.32%;
    right: -2055.66%;
    top: 22.94%;
    bottom: 69.4%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(44.05deg);
  }

  .fa-solid.fa-paw.paw-16 {

    position: absolute;
    left: 22.94%;
    right: -29.75%;
    top: 9.78%;
    bottom: 83.45%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(55.41deg);
  }

  .fa-solid.fa-paw.paw-17 {
    position: absolute;
    left: 32.21%;
    right: -25.38%;
    top: 7.2%;
    bottom: 87.46%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(36.52deg);
  }

  .fa-solid.fa-paw.paw-18 {
    position: absolute;
    left: 30.83%;
    right: -25.65%;
    top: 56.87%;
    bottom: 32.06%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-49.78deg);
  }

  .fa-solid.fa-paw.paw-19 {
    position: absolute;
    left: 290.42%;
    right: -23.32%;
    top: 39.98%;
    bottom: 49.94%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-52.29deg);
  }

  .fa-solid.fa-paw.paw-20 {

    position: absolute;
    left: 26.5%;
    right: -16.67%;
    top: 43.46%;
    bottom: 46.9%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-66.08deg);
  }

  .fa-solid.fa-paw.paw-21 {
    position: absolute;
    left: 16.07%;
    right: -13.21%;
    top: 29.63%;
    bottom: 61.25%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-74.09deg);
  }

  .fa-solid.fa-paw.paw-22 {
    position: absolute;
    left: 15.85%;
    right: 69.57%;
    top: 32.38%;
    bottom: 59.11%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-63.86deg);
  }

  .fa-solid.fa-paw.paw-23 {
    position: absolute;
    left: 10.91%;
    right: 31.25%;
    top: 21.76%;
    bottom: 70.58%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-78.76deg);
  }

  .fa-solid.fa-paw.paw-24 {
    position: absolute;
    left: 48.61%;
    right: 24.59%;
    top: 25.06%;
    bottom: 68.18%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-67.4deg);
  }
}

@media screen and (min-width: 480px) {
  .fa-solid.fa-paw.paw-1 {
    position: absolute;
    left: 19.71%;
    right: -79.61%;
    top: 75.09%;
    bottom: 14.84%;
    color: #E2C2B9;
    transform: rotate(-2.62deg);
    opacity: 0.75;
  }
  .fa-solid.fa-paw.paw-2 {
    position: absolute;
    left: 19.71%;
    right: -79.61%;
    top: 75.09%;
    bottom: 14.84%;
    color: #E2C2B9;
    transform: rotate(-2.62deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-3 {
    position: absolute;
    left: 88.08%;
    right: -26.26%;
    top: 64.73%;
    bottom: 25.63%;
    color: #E2C2B9;
    transform: rotate(-16.41deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-4 {

    position: absolute;
    left: 19.16%;
    right: -45.29%;
    top: 49.78%;
    bottom: 41.1%;
    color: #E2C2B9;
    transform: rotate(-24.42deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-5 {
    position: absolute;
    left: 19.16%;
    right: -45.29%;
    top: 49.78%;
    bottom: 41.1%;
    color: #E2C2B9;
    transform: rotate(-24.42deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-6 {
    position: absolute;
    left: 62.07%;
    right: 4.21%;
    top: 39.68%;
    bottom: 51.8%;
    color: #E2C2B9;
    transform: rotate(-14.19deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-7 {
    position: absolute;
    left: 70.76%;
    right: -1.1%;
    top: 25.92%;
    bottom: 66.42%;
    color: #E2C2B9;
    transform: rotate(-29.09deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-8 {
    position: absolute;
    left: 27.19%;
    right: 46%;
    top: 17.74%;
    bottom: 75.49%;
    color: #E2C2B9;
    transform: rotate(-17.73deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-9 {
    position: absolute;
    left: 29.02%;
    right: 49.81%;
    top: 7.27%;
    bottom: 87.39%;

    color: #E2C2B9;
    transform: rotate(-36.62deg);
    opacity: 0.75;
  }

  .fa-solid.fa-paw.paw-10 {
    position: absolute;
    left: 47.51%;
    right: 8.66%;
    top: 49.57%;
    bottom: 39.37%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(73.03deg);
  }

  .fa-solid.fa-paw.paw-11 {
    position: absolute;
    left: 13.44%;
    right: -53.34%;
    top: 54.28%;
    bottom: 35.65%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(70.51deg);
  }

  .fa-solid.fa-paw.paw-12 {
    position: absolute;
    left: 16.76%;
    right: -74.94%;
    top: 38.49%;
    bottom: 51.87%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(56.73deg);
  }

  .fa-solid.fa-paw.paw-13 {
    position: absolute;
    left: 198.19%;
    right: -134.32%;
    top: 39.37%;
    bottom: 51.5%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(48.71deg);
  }

  .fa-solid.fa-paw.paw-14 {
    position: absolute;
    left: 21.88%;
    right: -155.6%;
    top: 24.79%;
    bottom: 66.7%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(58.95deg);
  }

  .fa-solid.fa-paw.paw-15 {
    position: absolute;
    left: 25.32%;
    right: -2055.66%;
    top: 22.94%;
    bottom: 69.4%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(44.05deg);
  }

  .fa-solid.fa-paw.paw-16 {

    position: absolute;
    left: 22.94%;
    right: -29.75%;
    top: 9.78%;
    bottom: 83.45%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(55.41deg);
  }
  .fa-solid.fa-paw.paw-17 {
    position: absolute;
    left: 32.21%;
    right: -25.38%;
    top: 7.2%;
    bottom: 87.46%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(36.52deg);
  }

  .fa-solid.fa-paw.paw-18 {
    position: absolute;
    left: 30.83%;
    right: -25.65%;
    top: 56.87%;
    bottom: 32.06%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-49.78deg);
  }

  .fa-solid.fa-paw.paw-19 {
    position: absolute;
    left: 290.42%;
    right: -23.32%;
    top: 39.98%;
    bottom: 49.94%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-52.29deg);
  }

  .fa-solid.fa-paw.paw-20 {

    position: absolute;
    left: 26.5%;
    right: -16.67%;
    top: 43.46%;
    bottom: 46.9%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-66.08deg);
  }

  .fa-solid.fa-paw.paw-21 {
    position: absolute;
    left: 16.07%;
    right: -13.21%;
    top: 29.63%;
    bottom: 61.25%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-74.09deg);
  }

  .fa-solid.fa-paw.paw-22 {
    position: absolute;
    left: 15.85%;
    right: 69.57%;
    top: 32.38%;
    bottom: 59.11%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-63.86deg);
  }

  .fa-solid.fa-paw.paw-23 {
    position: absolute;
    left: 10.91%;
    right: 31.25%;
    top: 21.76%;
    bottom: 70.58%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-78.76deg);
  }

  .fa-solid.fa-paw.paw-24 {
    position: absolute;
    left: 48.61%;
    right: 24.59%;
    top: 25.06%;
    bottom: 68.18%;
    color: #E2C2B9;
    opacity: 0.75;
    transform: rotate(-67.4deg);
  }

}